.topnav {
    overflow: hidden;
    background-color: #333;
    align-content: center;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.active {
    background-color: #dddddd;
    color: white;
  }
  .topnav .name {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 150%;
  }
  