/* body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  } */

  
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
    background: #000000;
    padding-top: 70px;
  }
  
  footer img.logo {
    margin-bottom: 30px;
  }
  
  footer .text {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    letter-spacing: 0.88px;
  }
  
  footer h5 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.69px;
    line-height: 30px;
    margin-bottom: 30px !important;
  }
  
  footer .footer-nav li a {
    display: block;
    overflow: hidden;
  }
  
  footer .footer-nav li a:hover span {
    padding-left: 5px;
  }
  
  footer .footer-nav li a i {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 12px;
    font-size: 14px;
    color: #fff;
  }
  
  footer .footer-nav li a span {
    float: left;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #E5E9F7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .address p {
    display: block;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    color: #E5E9F7;
    line-height: 26px;
    letter-spacing: 0.88px;
    margin-bottom: 5px;
  }
  
  footer .address p a {
    color: #E5E9F7;
  }
  
  footer .address .social {
    overflow: hidden;
    margin-top: 5px;
  }
  
  footer .address .social li {
    float: left;
    font-size: 16px;
    margin-right: 10px;
  }
  
  footer .address .social li a {
    color: #E5E9F7;
  }
  
  footer .copyright {
    text-align: center;
    border-top: 1px solid #E5E9F7;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #E5E9F7;
    letter-spacing: 0.88px;
  }
  
  @media (max-width: 991px) {
    footer .text {
      margin-bottom: 30px;
    }
    footer h5 {
      margin-bottom: 15px;
    }
    footer .footer-nav {
      margin-bottom: 30px;
    }
  }
  