.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: #dddddd;
  color: white;
}
.topnav .name {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 150%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.rounded-circle {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

/* h1 {
  text-align: center;
  font-size: 30px;
}

h1,
.main-content {
  margin-bottom: 20px;
}

.active {
  font-weight: 600;
  color: #0e7bf1;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 1rem;
}

.header {
  margin-bottom: 20px;
  background-color: #333;

  nav {
    display: flex;
    justify-content: flex-start;

    a {
      margin: 10px;
    }
  }
}

.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;

  & > div {
    width: 50%;
  }
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}

.preview-image {
  width: 100%;
  height: inherit;
  display: block;
  margin-bottom: 10px;
}

.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}

.files-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;

  tr,
  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .file-title {
    width: 20%;
  }

  .file-description {
    width: 70%;
  }
} */

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px 20px;
}
.file-title {
  /* background-color: #6d726d; */
  width: 20%;
}
.file-description {
  /* background-color: #a9b9aa; */
  width: 70%;
}
.files-table {
  background-color: #222422;
  font-family: "Sans-serif";
  color: white;
  font-weight: bold;
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 1.4em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}
.preview-image {
  width: 100%;
  height: inherit;
  display: block;
  margin-bottom: 10px;
}

.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}

.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;

  /* & > div {
    width: 50%;
  } */
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /* &:focus {
    outline: none;
  } */
}
